.service-in-home {
    background-color: rgb(243, 243, 243);
    box-shadow: 0 0 20px 1px rgb(196, 196, 196);
    transition: 0.3s;
}
.service-in-home:hover {
    box-shadow: 0 0 20px 5px rgb(134, 134, 134);
    transition: 0.3s;
}
.destination-name {
    margin-left: 15px;
    background-color: rgb(49, 49, 49);
    width: 50%;
    margin-top: -15px;
}