#my-bookings {
    padding-top: 66px;
}

.my-bookings-bg {
    background-color: white;
}

.border-bottom-design-my-bookings {
    border-bottom: 2px solid white;
}

.border-bottom-design-my-bookings:hover {
    border-bottom: 2px solid black;
}

.my-bookings {
    background-color: rgb(243, 243, 243);
    box-shadow: 0 0 10px rgb(196, 196, 196);
    transition: 0.3s;
}

.my-bookings:hover {
    box-shadow: 0 0 20px 5px rgb(134, 134, 134);
}

.info {
    color: rgb(255, 102, 0);
}

.status-red {
    background-color: rgb(214, 50, 50);
    color: white;
    border-radius: 20px;
    padding: 0 10px;
}

.status-green {
    background-color: rgb(46, 136, 24);
    color: white;
    border-radius: 20px;
    padding: 0 10px;
}