#registration {
    padding-top: 80px;
    min-height: 100vh;
}

.registration-bg {
    background-color: white;
}

.hotel-icon {
    display: none;
}

.account-switch:hover {
    text-decoration: underline !important;
}

.form-control:focus {
    border-color: black;
    box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5) !important
}

.registration-input-bg {
    color: black;
    border: 1px solid black;
    background-color: white;
}

@media screen and (min-width: 992px) {
    #registration {
        padding-top: 10px;
        min-height: 100vh;
    }

    .registration-content-sizing {
        width: 50%;
        margin: 0 auto;
    }

    .hotel-icon {
        display: block;
        position: absolute;
        left: 170px;
        bottom: 150px;
        font-size: 200px;
        opacity: 0.08;
    }
}