#navbar {
    transition: top 0.3s;
}

.brand {
    font-family: 'Josefin Sans', sans-serif;
}

.navbar-bg {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px 1px black;
}

.user-img {
    border: 1px solid black;
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}