.single-service-details-content {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.single-service-details-bg {
    background-color: white;
}

.single-service-details-img-content {
    position: relative;
}

.single-service-details-img-content div::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
}

.destination-name-in-booking-page {
    font-size: 20px;
    letter-spacing: 20px;
    text-transform: uppercase;
}

.destination-info {
    box-shadow: 0 0 20px rgb(196, 196, 196);
}

.price-info {
    text-align: center;
}

.price-info p {
    font-size: 12px;
}

.small-info {
    background-color: rgb(243, 243, 243);
    padding: 20px 0;
}

.hotel-info {
    background-color: rgb(243, 243, 243);
    padding: 15px;
}

.social-info {
    background-color: rgb(215, 215, 215);
    padding: 7px 10px;
}

.tourist-place-info {
    background-color: rgb(243, 243, 243);
    padding: 15px;
}

.why-book-with-us-info {
    box-shadow: 0 0 20px rgb(196, 196, 196);
    padding: 20px;
}

.FAQ-info {
    box-shadow: 0 0 20px rgb(196, 196, 196);
    padding: 20px;
}

@media screen and (min-width: 992px) {
    .destination-name-in-booking-page {
        font-size: 4rem;
    }

    .social-info {
        width: 34%;
    }
}

.service-details-input-bg {
    color: black;
    border: 1px solid black;
    background-color: white;
}