#add-new-service {
    padding-top: 66px;
}

.img-content {
    /* width: 100%; */
    position: relative;
}

.img-content div::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
}

.img-content h5 {
    display: none;
}

.img-content div:hover h5 {
    display: block;
}

.img-content div:hover::before {
    opacity: 1;
}

.add-new-service-bg {
    background-color: white;
}

.border-bottom-design-add-new-service {
    border-bottom: 2px solid white;
}

.border-bottom-design-add-new-service:hover {
    border-bottom: 2px solid black;
}

.add-new-service-input-bg {
    color: white;
    border: 1px solid black;
    background-color: white;
}