p {
    font-size: 15px;
    margin: 0;
}
#big-footer {
    background-color: rgb(243, 243, 243);
}

.footer-brand {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.form-control:focus{
    border-color: black;
    box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5) !important
}

.footer-input-bg {
    color: black;
    border: 1px solid black;
    background-color: white;
}

.social-links a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.social-links a:hover {
    color: rgb(255, 102, 0);
}