.gallery-bg {
    background-color: rgb(242, 226, 250);
}

.instagram-icon {
    display: none;
}
.facebook-icon {
    display: none;
}
.twitter-icon {
    display: none;
}
.gallery-content{
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.gallery-img-content{
    /* width: 100%; */
    position: relative;
}
.gallery-img-content div::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
}

.gallery-img-content h6 {
    display: none;
}

.gallery-img-content div:hover h6 {
    display: block;
}

.gallery-img-content div:hover::before {
    opacity: 1;
}
@media screen and (min-width: 992px){
    .gallery-content {
        position: relative;
    }
    .instagram-icon {
        display: block;
        position: absolute;
        left: 50px;
        top: 200px;
        font-size: 200px;
        opacity: 0.08;
    }
    .facebook-icon {
        display: block;
        position: absolute;
        left: 50px;
        bottom: 600px;
        font-size: 200px;
        opacity: 0.08;
    }
    .twitter-icon {
        display: block;
        position: absolute;
        left: 50px;
        bottom: 200px;
        font-size: 200px;
        opacity: 0.08;
    }
}