.banner-bg {
    background-color: white;
    padding-block: 120px;
}

.banner-content {
    position: relative;
    filter: url('#flt_tag');
}

.banner-content-bg {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -2;
    background-color: rgb(239, 239, 239);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.flt_svg {
    visibility: hidden;
    position: absolute;
    width: 0px;
    height: 0px;
}

.banner-title {
    font-size: 55px;
}