.service {
    background-color: rgb(243, 243, 243);
    box-shadow: 0 0 20px 1px rgb(196, 196, 196);
    transition: 0.3s;
}

.service:hover {
    box-shadow: 0 0 20px 5px rgb(134, 134, 134);
    transition: 0.3s;
}

.destination-name {
    margin-left: 15px;
    background-color: rgb(49, 49, 49);
    width: 50%;
    margin-top: -15px;
    border-radius: 10px;
}

.plus-text {
    color: rgb(49, 49, 49);
    text-decoration: none;
}

.plus-text:hover {
    color: rgb(49, 49, 49);
}

.plus-icon {
    font-size: 100px;
    transition: 0.5s ease-in-out;
}

.plus-icon:hover {
    border-radius: 20px;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    box-shadow: 0 0 20px 1px rgb(196, 196, 196);
    transition: 0.3s ease-in-out;
}