.service {
    background-color: rgb(251, 241, 250);
    box-shadow: 0.5px 0.5px 10px rgb(190, 172, 186);
    transition: 0.3s;
}
.service:hover {
    box-shadow: 0.5px 0.5px 30px 5px rgb(190, 172, 186);
    transition: 0.3s;
}
.destination-name {
    margin-left: 15px;
    background-color: rgb(49, 49, 49);
    width: 50%;
    margin-top: -15px;
}
.plus-text {
    color: rgb(49, 49, 49);
    text-decoration: none;
}
.plus-icon{
    
    font-size: 100px;
    transition: 0.5s ease-in-out;
}
.plus-icon:hover {
    border-radius: 20px;
    background-color: rgb(251, 241, 250);
    padding: 20px;
    box-shadow: 0.5px 0.5px 10px rgb(225, 183, 238);
    transition: 0.3s ease-in-out;
}